<%= form_for @discipline, html: { class: "form-horizontal", role: "form" } do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Pavadinimas', class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :speciality, 'Specialybė', class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.select :speciality, Discipline::SPECIALITIES, {}, {class: "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :klass, 'Klasė', class: "col-sm-4 control-label" %>
    <div class="col-sm-3">
      <%= f.select :klass, Discipline::KLASSES, {}, { class: "form-control" } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :duration, 'Valandų', class: "col-sm-4 control-label" %>
    <div class="col-sm-3">
      <%= f.number_field :duration, { step: "0.5", class: "form-control" } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :syllabus, 'Programa', class: "col-sm-4 control-label" %><rb />
    <div class="col-sm-8">
    <% Discipline::SYLLABUS.each do |syllabus| %>
      <div class="radio">
        <%= f.radio_button :syllabus, syllabus %> <%= syllabus %>
      </div>
    <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :variant, 'Forma', class: "col-sm-4 control-label" %><rb />
    <div class="col-sm-8">
    <% Discipline::VARIANTS.each do |variant| %>
      <div class="radio">
        <%= f.radio_button :variant, variant %> <%= variant %>
      </div>
    <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :required, 'Privaloma?', class: "col-sm-4 control-label" %><rb />
    <div class="col-sm-8">
    <% if @discipline.new_record? %>
      <div class="radio">
        <%= f.radio_button :required, false %> Ne
      </div>
    <% else %>
      <div class="radio-inline">
        <%= f.radio_button :required, true %> Taip
      </div>
      <div class="radio-inline">
        <%= f.radio_button :required, false %> Ne
      </div>
    <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :status, 'Būsena?', class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
    <% if @discipline.new_record? %>
      <div class="radio">
        <%= f.radio_button :status, false %> Neaktyvi
      </div>
    <% else %>
      <div class="radio-inline">
        <%= f.radio_button :status, true %> Aktyvi
      </div>
      <div class="radio-inline">
        <%= f.radio_button :status, false %> Neaktyvi
      </div>
    <% end %>
    </div>
  </div>

    <div class="form-group margintopmid">
      <div class="col-sm-offset-4 col-sm-8">
        <%= f.submit class: "btn btn-primary" %> <%= link_to "Cancel", disciplines_path, class: "btn btn-warning" %>
      </div>
    </div>
<% end %>
