<div class="page-header">
  <h1>Disciplines</h1>
</div>

<%= yield :edit %>

<div class="table-responsive">
<table class="table table-striped table-hover table-bordered">
<thead>
  <tr>
    <th>Name</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
    <th>7</th>
    <th>8</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  <% @disciplines.each do |discipline| %>
  <tr>
    <td><%= link_to discipline.name, discipline %></td>
    <td><%= discipline.klass_1 %></td>
    <td><%= discipline.klass_2 %></td>
    <td><%= discipline.klass_3 %></td>
    <td><%= discipline.klass_4 %></td>
    <td><%= discipline.klass_5 %></td>
    <td><%= discipline.klass_6 %></td>
    <td><%= discipline.klass_7 %></td>
    <td><%= discipline.klass_8 %></td>
    <td><%= link_to glyph(:pencil) + ' Edit', edit_discipline_path(discipline) %>
     <%= link_to glyph(:trash) + ' Delete', discipline, method: :delete,
              data: { confirm: "Are you sore?" } %></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>
