<div class="row">
  <div class="col-md-4">
    <div class="page-header">
    <h1><%= @student.first_name %> <%= @student.last_name %></h1>
    </div>
    <table class="table table-bordered">
    <tr>
      <th>Age</th>
      <td><%= @student.age %></td>
    </tr>
    <tr>
      <th>Class</th>
      <td><%= @student.klass %></td>
    </tr>
    <tr>
      <th>Spaciality</th>
      <td><%= @student.speciality %></td>
    </tr>
    </table>
  </div>
  <div class="col-md-3 col-md-offset-5">
    <div class="panel panel-primary">
      <div class="panel-heading">Valdymas</div>
        <ul class="nav nav-pills nav-stacked">
          <%= top_nav_link_to 'Edit', edit_student_path(@student) %>
          <li><%= link_to 'Delete', @student, method: :delete,
              data: { confirm: "Are you sore?" } %></li>
          <%= top_nav_link_to 'Visi mokiniai', students_path %>
        </ul>
    </div>
    <% if @student.studentsdisciplines.active_only.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">Priskirti mokytojus!</div>
        <ul class="nav nav-pills nav-stacked">
        <% @student.studentsdisciplines.active_only.each do |sd| %>
            <li><%= link_to sd.discipline.name, new_student_studentsgroup_path(student_id: @student.id, discipline_id: sd.discipline.id) %></li>
        <% end %>
        </ul>
    </div>
    <% end %>
  </div>
</div>
